@import "partials/nav";

@mixin flex($align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

$mobile: 375px;
$tablet: 800px;

$color-scroll-button: #ec9e03;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100%;
}

@font-face {
  font-family: Lato-Bold;
  src: url("./assets/fonts/lato/Lato-Bold.woff2");
}

.header {
  height: 566px;
  @media only screen and (max-width: $tablet){
    height: calc(566px + 30%);
  }
  padding-top: 28px;

  @media only screen and (min-width: $mobile){
    padding-top: 0px;
  }

  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 52%
    ),
    linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0) 48%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 52%
    ),
    url("https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/header/bgHeader.jpeg")
      center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: 1em 1em, 1em 1em, cover;

  .wrapper {
    @include flex();
    @media only screen and (min-width: $mobile){
      @include flex(flex-start, stretch);
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.logo {
  @media only screen and (min-width: $mobile) {
    background: black;
  }
  
  h1 {
  display: inline-block;
  margin: 0px;

  vertical-align: 50%;
  text-transform: uppercase;
  color: white;
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 42px;
  @media only screen and (min-width: $mobile) {
    font-size: 22px;
  }
  }

  img {
    padding-right: 9px;
    @media only screen and (min-width: $mobile) {
      width: 30%;
    }
  }
}


.main {
  min-height: calc(100vh-544px-84px);
}

.slider {
  @include flex();

  padding-top: 53px;
  @media only screen and (min-width: $mobile){
    padding-top: 0px;
    }
  }

  .slider__slogan {
  @include flex($justify: center);
  flex-direction: column;

  @media only screen and (min-width: $mobile){
    display: none;
    }
  
  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;

  p {
    margin: -15px 13px 18px 0px;

    &:last-child {
      color: whitesmoke;
    }
  }

  button {
    margin-bottom: 15px;
  }
}

.slider__button-prev,
.slider__button-next {
  width: 32px;
  height: 57px;

  background: #cba60e;
  color: whitesmoke;
  border: none;

  font-size: 38px;
  font-weight: bold;

  &:hover {
    background: #f7c80d;
    cursor: pointer;
  } 

  @media only screen and (min-width: $mobile){
    display: none;
    }
}

.slider__video {
  padding-left: 8px;

  @media only screen and (min-width: $mobile){
    padding-left: 0px;
    height: 100%;
    }

  & video {
    width: 100%;
    height: 100%;
  }
}

.benefit {
  background: linear-gradient(
    45deg,
    rgba(117, 116, 116, 0) 48%,
    rgba(218, 213, 213, 0.4) 50%,
    rgba(117, 116, 116, 0) 52%
  );
  background-repeat: repeat;
  background-size: 0.5em 0.5em;
  box-shadow: 0px 3px 4px 7px rgba(71, 71, 70, 0.74);

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1 fr;
  
    width: 100%;
    height: 100%;
    padding-left: 0px;

    & * {
      @include flex($justify: center);
      flex-direction: column;
    
      padding: 40px 0px 33px;
    
      font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular;
      font-size: 27px;
      color: rgba(0, 0, 0, 255);
    
      text-transform: uppercase;
      border-right: #d4d4d4 1px solid;
    
      list-style-type: none;
    }

    & :first-child {
      border-left: #d4d4d4 1px solid;
    }
  }
}

.benefit__li_first:before {
  content: "";
  width: 109px;
  height: 74px;
  margin: 20px 0px 12px;

  background: url(https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/benefit/cloud.png);
}

.benefit__li_second:before {
  content: "";
  width: 91px;
  height: 95px;
  margin: 0px 0px 15px 15px;

  background: url(https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/benefit/list.png);
}

.benefit__li_third:before {
  content: "";
  width: 81px;
  height: 80px;
  margin: 10px 20px 18px;

  background: url(https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/benefit/paperplane.png);
}

.scroll {
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 255);
  text-align: left;

  background: url("https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/scroll/bgscroll.jpeg")
    repeat;

  box-shadow: inset 0px 9px 16px -4px rgba(71, 71, 70, 0.74);

  h2 {
    margin: 0px;
    padding: 35px 0px 30px;
  
    font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 37px;
    text-transform: uppercase;
  }

  button {
    position: relative;
    left: 90%;
  
    background: $color-scroll-button;
    border: 0px;
    color: white;
  }
}

.scroll__description {
  width: 341px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 29px;

  background: $color-scroll-button;

  p {
    margin: 0px;
    padding: 31px 25px 0px 34px;
  }
}

.scroll__main {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  

  width: 100%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: whitesmoke;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $color-scroll-button;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

.scroll__video {
  display: flex;
}

.scroll__twiter {
  font-size: 25px;

  background: $color-scroll-button;
}

.scroll__twiter-image {
  display: block;
  width: 163px;
  height: 133px;
  margin: 35px 83px 5px 83px;
}

.scroll__twiter-count {
  position: relative;
  left: 86%;
  top: 0.5em;
  margin: 0px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 25px;
}

.scroll__calendar {
  align-self: flex-start;
  margin-right: 100%;
  margin-bottom: 43px;

  background: #ddb101;

  font-size: 51px;
  color: rgba(255, 255, 255, 255);
}

.scroll__calendar-day {
  margin: 5px 27px 0px 31px;
}

.scroll__calendar-month {
  margin: 0px;

  font-size: 21px;
  color: rgba(178, 101, 41, 255);
  text-align: center;
}

.scroll___button_plus:hover {
  color: orangered;
}

.services {
  background: url("https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/services/bgservices.jpeg")
    repeat;

  .wrapper {
      min-height: 496px;
  }
}

.services__caption {
  padding: 40px 0px 50px 90px;
  margin: 0px;

  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 43px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.services__image {
  @include flex();
  flex-direction: row;

  margin-left: 15px;
  position: relative;
  bottom: 115px;
}

.services__image_stamp {
  position: relative;
  right: 5px;
  bottom: 40px;

  width: 116px;
  height: 116px;
  z-index: 2;

  background: #f5c506;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  p {
    margin: 0px 0px 0px 5px;
    padding-top: 40%;
  
    font-family: PTSans-NarrowBold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
  }
}

.services__image_device {
  width: 540px;
  height: 255px;
}

.services__list {
  margin-top: 45px;
  padding-left: 80px;

  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  color: rgba(169, 169, 167, 255);
  text-align: left;
  list-style-type: none;
  list-style-image: url("https://raw.githubusercontent.com/AlenaShkr/theyalow/master/assets/main/services/listmarker.png");
  line-height: 1.2;

  li {
    margin: 0px 0px 25px 25px;
    padding-left: 10px;
  }
}

.footer {
  height: 64px;

  background: #4c4c4c;
  box-shadow: 0px 3px 4px 7px rgba(22, 22, 22, 0.74);
}

.footer__logo {
  @include flex($justify: flex-start);

  img {
    height: 51px;
    margin: 5px 9px 0px 2px;
  }

  h1 {
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
  }

}


